.App {
  text-align: center;
  height: 100vh;
  font-size: 10px;
}

.Link {
text-decoration: none;
}


.Header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 20%;
  font-size: 1vw;
 }

.Drawer{
  width:100%;
}

.Wrap {
  display: flex;
  flex-wrap: wrap;
}

.Horizontal {
  display: flex;
  height: 70%;
}

.NavBar{
  background-color: gray;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.LeftFlex {
  width: 30%;
  background-color: darkgray;
  display: flex;
}

.RightFlex {
  width: 70%;
  background-color: lightgray;
  display: flex;
}

.Footer {
  background-color: black;
  display: flex;
  height: 10%;
  color: white;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .Header {
    font-size: 3vw;
  }

  .Horizontal {
    flex-direction: column;
  }

  .RightFlex {
    background-color: lightgray;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .LeftFlex {
    background-color: darkgray;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
