.App {
  text-align: center;
  height: 100vh;
  font-size: 10px;
}

.Link {
  text-decoration: none;
}


.Header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 20%;
  font-size: 1vw;
}

.Drawer{
  width:100%;
}


.Wrap {
  display: flex;
  flex-wrap: wrap;
}

.Horizontal {
  display: flex;
  height: 80%;
  overflow: auto;
}

.NavBar{
  background-color: gray;
  display: flex;
  flex-direction: row;
  text-align: start;
}

.menuButton{
  width: 2%;
  height: 2%;
  padding: 1vw;
}

.LeftFlex {
  width: 30%;
  background-color: darkgray;
  display: flex;
}

.RightFlex {
  width: 70%;
  background-color: lightgray;
  display: flex;
}
.tableRowHover:hover {
  background-color: lightgray;
}

.Footer {
  background-color: black;
  display: flex;
  height: 10%;
  color: white;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .Header {
    font-size: 3vw;
  }

  .Horizontal {
    flex-direction: column;
  }

  .RightFlex {
    background-color: lightgray;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .LeftFlex {
    background-color: darkgray;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .SimpleCenteredDiv {
    align-items: center;
    justify-content: center;
  }
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App {
  font-family: sans-serif;
}
